<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Blood Donation System</title>

        <link rel="stylesheet" type="text/css" href="~/Content/style.css">
        <table border="0" align="center">
         <tr>
                <td width="950px"><img src="~/images/header.jpg">
                </td>
            </tr>
            </table>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <br><br><br>
    <table border="0" align="bottom" width="950px" style="position:absolute">
            <tr>
                <td width="600px"> 
                    <p align="left" style="color:#A0A0A0;">&copy; 2014 &nbsp; Design & developed by <a style="color:#A0A0A0;" href="https://www.facebook.com/jwad.akram" target="_blank" title="Mish Studios">Jawad akram</a> 
                <td style="color:#A0A0A0;" align="right" >
                    <p><a target="_blank" href="https://www.facebook.com/jwad.akram"><img width="34px" height="34px" src="~/images/fb.png"></a><span>    </span></p>
                </td>/
            </tr>
        </table>
    </body>
</html>
