@if(Session["key"]!=null){
    <head>
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="~/Content/style.css">

        <title>Blood Donation System</title>

        
        <script type="text/javascript">
            
            function search12() {
                //alert($);
                $.getJSON ("/Home/Search_donor", { city: $('#ss1').val(), Bgroup: $('#ss2').val() }, function (data) {
                    $("#table1").empty();
                    $.each(data, function (i, item) {
                        $("#table1").append("<tr><td>" + item.Name + "</td><td>" + item.city + "</td>" + "<td>" + item.Contact + "</td><td>" + item.Bgroup + "</td><td>" + item.EmailId + "</td><td>" + item.Status + "</td></tr>");

                        

                    });
                    $("#dd").append("<br><br><br><br><br><br><br><br><br>");
                });
            }
            function changePassword()
            {
                  
                var newdiv = document.getElementById('key');
                    
                newdiv.innerHTML = "<form action='Change_user_Password' name='form10' method='post'>\n\
            <input type='password' name='p0' required placeholder=' Current Password' title='Current Password'/>\n\
            <input type='password' name='p1' required placeholder=' Password' title='Password'/>\n\
            <input type='password' name='p2' required placeholder=' Password Again' title='Password'/>\n\
            <input type='submit' value='Change Password' onClick='return checkPassword();'/></form>";
	
			
            }
		
            function checkPassword()
            {
                for(i=0; i<((document.form10.elements.length)-1); i++)
                {                                        
                    if(document.form10.elements[i].value == null || document.form10.elements[i].value == "")
                    {
                        alert("All locations must be filled out");
                        return false;
                    }       
                }
                        
                if(document.form10.password1.value != document.form10.password2.value)
                {
                    alert("Password Mis-Matched");
                    return false;
                }
	
                return true;
            }
                
                
            function search()
            {
                  
                var newdiv = document.getElementById('key');
                    
                newdiv.innerHTML = "<form action='Home/Search_donor' name='form3' style='position:absolute' ><select name='city' id='ss1'>\n\
                    <option value='Lahore'>Lahore</option><option value='Karachi'>Karachi</option>\n\
                    <option value='Islamabad'>Islamabad</option><option value='Faisalabad'>Faisalabad</option></select>\n\
                    <select id='ss2' name='Bgroup'><option value='A+'>A+</option><option value='B+'>B+</option>\n\
                    <option value='O+'>O+</option><option value='AB+'>AB+</option><option value='A-'>A-</option>\n\
                    <option value='B-'>B-</option><option value='O-'>O-</option><option value='AB-'>AB-</option></select>\n\
                    <input type='button' id='bb' value='Quick Search' onClick='search12();'/><table border='1'width='800px' style='margin:25px 0 0 -100px;' id='table1'><THEAD BGCOLOR='lightskyblue'><tr><th>Name</th><th>City</th><th>Contact</th><th>Blood Group</th><th>EmailID</th><th>Status</th></tr></table>"
            }
                
            function deleteAccount() {

                var newdiv = document.getElementById('key');

                newdiv.innerHTML = "<form action='/Home/Delete_User' name='form3' method='post'><p name='p1' align='center' style='color: #FF0000'>Are you sure you want to <b>DELETE</b> your Account? \n\
 <select name='delete'>\n\
                    <option value='Yes'>Yes</option><option value='No'>No</option><br><br><br><input type='submit' value='Delete' width='34px' onClick=''/> ";
            }
	
        </script>	

    </head>
    <body>

        <table border="0" align="center">
           
            <tr>
                @*<td> <h3 style="color: #A0A0A0">Welcome: <%=name%></h3><p style="color: #A0A0A0"><%=type%></p></td>*@
                <td align="right">
                    <a href="Logout"><img width="34px" height="34px" src="~/images/logout.png"></a>
                </td>
            </tr>
        </table>

        <br><br>
        <table border="0" width="800px" align="center">
            <tr>
                <td align="center" width="200px">
                    <table border="1" id="t1" width="200px" align="center">
                        </table>

                    <table border="0" width="200px" align="center" style="position:absolute">
                        
                        <tr><td><a href="javascript:search()"><img width="180px" height="40px" src="~/images/search.png"></a></td></tr>
                        <tr><td><p></p></td></tr>
                        <tr><td><a href="javascript:changePassword();"><img width="180px" height="40px" src="~/images/password.png"></a></td></tr>
                      
                      
                        <tr><td><a href="javascript:deleteAccount()"><img width="180px" height="40px" src="~/images/delete.png"></a></td></tr>
                    </table>
                </td>
                <td align="center" width="100px"></td>
                <td align="center" width="500px">
                    <table border="0" width="490px" align="center">
                        <tr><td id = "key"><img width="490px" height="250" src="~/images/blood.png"></td></tr>
                    </table>

                </td>
            </tr>
        </table>
        <div id="dd">
        <br><br><br><br><br>
            </div>
        
    </body>

}